:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    min-height: 100vh;
    background: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Fraunces', serif;
}

.card{
    border-radius: 0.5rem;
    width: 600px;
    background: var(--White);
}

.card-container{
    display: flex;
}

/* CARD-IMAGE */
.card-image{
    background-image: url('../img/image-product-desktop.jpg');
    width: 50%;
    background-size: cover;
    background-position: center center;
    border-radius: 0.5rem 0 0 0.5rem;
}

/* CARD INFO */
.card-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.sub-title{
    font-size: 12px;
    color: var(--Dark-grayish-blue);
    letter-spacing: 2px;
    font-weight: 500;
}

.title{
    width: 70%;
}

.info{
    font-size: 14px;
    color: var(--Dark-grayish-blue);
    line-height: 25px;
}

.prices{
    display: flex;
    align-items: center;
    margin: 0.6rem 0;
}

.prices h2{
    margin-right: 2rem;
    color: var(--Dark-cyan);
}

.prices p{
    font-size: 14px;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--Dark-cyan);
    color: var(--White);
    height: 45px;
    gap: 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--Very-dark-blue);
}

@media (max-width: 600px) {
    .card{
        width: 350px;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .card-image{
        background-image: url('../img/image-product-mobile.jpg');
        background-size: cover;
        border-radius: 0.5rem 0.5rem 0 0;
        height: 250px;
        width: 100%;
        background-repeat: no-repeat;
    }
    .card-info{
        width: 100%;
        padding: 1.7rem;
    }
    .title{
        width: 80%;
    }
    .prices{
        margin-bottom: 0;
    }
}